<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Books</title>
    <link rel="stylesheet" href="/style.css" media="screen" title="no title">
  </head>
  <body>
    <h1>Books!</h1>

    <% for (var i=0; i < books.length; i++) { %>

      <h2><a href="/books/<%= i %>"><%= books[i].title %></a></h2>

    <% } %>
  </body>
</html>
